/* .navbar {
    background: linear-gradient(90deg,#3b71ca,#3b71ca);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  } */

  .teacher_user-icon {
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  .profile_info_wrapper {
    position: relative;
  }

  .screen_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
  }

  .profile_info {
    position: absolute;
    padding: 10px 10px;
    z-index: 3;
    right: 0;
    background-color: #3C71CA;
    width: 200px;
    border-radius: 4px;
    top: 132%;
  }

  .logo {
    width: 150px;
  }
  .cart-count {
    background-color: red; /* Background color for the count */
    color: white; /* Text color for the count */
    border-radius: 50%; /* Makes it a circle */
    padding: 3px 5px; /* Adjust padding as needed */
    font-size: 10px; /* Adjust font size as needed */
    position: absolute; /* Adjust position relative to the cart icon */
  
  }

  @media screen and (max-width: 991px) {
    .profile_info {
      left: 0;
    }
    
  }
